@page
@model CodeJam2026.Pages.ScoreboardModel
@{
    ViewData["Title"] = "Scoreboard";
    Layout = "_AppLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/scoreboard.css" asp-append-version="true" />
}

<div class="scoreboard-page">

    <header class="scoreboard-header">
        <div class="scoreboard-header-left">&gt;&gt; CODE JAM</div>
        <div class="scoreboard-header-right">
            <a class="app-navlink" asp-page="/Judge">&lt;&lt; BACK TO JUDGE</a>
            <span class="app-navsep">|</span>
            <a class="app-navlink" asp-page="/Controls">CONTROLS</a>
        </div>
    </header>

    <div class="container-fluid scoreboard-content">
        <div class="row g-3">

            <div class="col-12 col-lg-8">
                <section class="panel panel-scoreboard">
                    <div class="scoreboard-title">SCORE BOARD</div>
                    <div class="scoreboard-divider">========</div>

                    <div class="scoreboard-rows">
                        <div class="scoreboard-row highlight-yellow">
                            TEAM NAME | POINTS
                        </div>

                        @if (Model.Entries.Any())
                        {
                            @foreach (var entry in Model.Entries)
                            {
                                <div class="scoreboard-row">
                                    @entry.TeamName | @entry.TotalPoints
                                </div>
                            }
                        }
                        else
                        {
                            <div class="scoreboard-row">
                                NO TEAMS OR SUBMISSIONS FOUND
                            </div>
                        }
                    </div>

                    <div class="scoreboard-bottom-divider">+-+-+-+-+-+-+-+-+-+-+-+-+-+-</div>

                    <div class="scoreboard-time">
                        <div class="scoreboard-time-label">Current Time</div>
                        <div class="scoreboard-time-value">@Model.CurrentTimeDisplay</div>
                    </div>
                </section>
            </div>

            <div class="col-12 col-lg-4">
                <section class="sb-panel sb-feed">

                    @if (Model.RecentSubmissions.Any())
                    {
                        @foreach (var item in Model.RecentSubmissions)
                        {
                            <div class="sb-feed-row">
                                <div class="sb-team">@item.TeamName&gt;&gt;</div>
                                <div class="sb-meta">
                                    QUESTION @item.ProblemNumber, @item.Timestamp.ToString("MM/dd HH:mm")
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="sb-feed-row">
                            <div class="sb-team">NO SUBMISSIONS YET</div>
                            <div class="sb-divider"></div>
                        </div>
                    }
                </section>
            </div>

        </div>
    </div>
</div>